<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel danych czujników</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>SENSOR DASHBOARD</h1>
        </div>
    </header>
    <main class="content">
        <div class="card">
            <div class="info" >
                <h2>Temperatura</h2>
                <div id="temp" class="value">-- °C</div>
            </div>
        </div>
        <div class="card">
            <div class="info" >
                <h2>Wilgotność</h2>
                <div id="hum" class="value">-- %</div>
                <canvas id="humidityChart" width="200" height="200"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="info" >
                <h2>Wykres</h2>
                <canvas id="tempChart" width="800" height="400"></canvas>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
